<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Макс</string>
		<key>age</key>
		<string>2</string>
		<key>picture</key>
		<string>maksPicture</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Соня</string>
		<key>age</key>
		<string>3</string>
		<key>picture</key>
		<string>sofiaPicture</string>
	</dict>
</array>
</plist>
